*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#container-form{
    width: 300px;
    margin: auto;
    display: flex;
}
#container-button{
    width: 300px;
    margin: auto;
}
#container{
    width: 300px;
    margin: auto;
}
#procesar{
    width: 100%;
    padding: .5em;
}
input, select{
    width: 100px;
    padding: .5em;
}
p{
    font-size: 20px;
    
}
span{
    color: blue;
    font-size: 20px;
}